@{
    ViewData["Title"] = "Dashboard";
}

        
        
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="Attendance"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Attendance</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i>  </span> Every day recording.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated every day
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="Schedule"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Educator's Schedule</h4>
                    <p class="card-category"> Everday Task</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Updated every day
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="Portforlio"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">PortForlio</h4>
                    <p class="card-category">Pupil's Finished Work</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Files Submitted Every Month
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="Lesson"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Lesson</h4>
                    <p class="card-category">Every day lesson</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Checked every day
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="Reports"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Reports</h4>
                    <p class="card-category">Semester Reports</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Checked Quortely
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
