@{
    ViewData["Title"] = "Lessons";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0"> Lesson's</h4>
                    <p class="card-category">  Weekly planned lesson's</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                            <th>
                                Monday
                            </th>
                            <th>
                                Tuesday
                            </th>
                            <th>
                                Wednsday
                            </th>
                            <th>
                                Thursday
                            </th>
                            <th>
                                Friday 
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Song & Music
                                    </td>
                                    <td>
                                        Literacy Development
                                    </td>
                                    <td>
                                        Math & Science
                                    </td>
                                    <td>
                                        Large/ Small Motor
                                    </td>
                                    <td>
                                        Drawings
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Little sharks
                                    </td>
                                    <td>
                                        Dance with Scarves
                                    </td>
                                    <td>
                                        Group Coordination
                                    </td>
                                    <td>
                                        Dance to music
                                    </td>
                                    <td>
                                        Dance with scarves
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Learn About Red Pandor
                                    </td>
                                    <td>
                                        Favorite forest hill
                                    </td>
                                    <td>
                                        Rythm and flow pattern
                                    </td>
                                    <td>
                                        things that start with letter M
                                    </td>
                                    <td>
                                        Dancing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Recognising number's
                                    </td>
                                    <td>
                                        Recognising different shapes
                                    </td>
                                    <td>
                                        Add sentences
                                    </td>
                                    <td>
                                        What's a habitat?
                                    </td>
                                    <td>
                                        Practice dancing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Monkey Musk
                                    </td>
                                    <td>
                                        Painting game
                                    </td>
                                    <td>
                                        Group Yoga Day
                                    </td>
                                    <td>
                                        Monkey Mask with paper plates
                                    </td>
                                    <td>
                                        Front monkey must
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TimeTable
                                    </td>
                                    <td>
                                        drawing day
                                    </td>
                                    <td>
                                        Alphabets
                                    </td>
                                    <td>
                                        English speech
                                    </td>
                                    <td>
                                        Bunny bear
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <a href="#" class="btn btn-success"> Edit </a><a href="#" class="btn btn-success"> Save </a>